[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
jupytext = "*"
matplotlib = "*"
seaborn = "*"
pandas-profiling = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
